<h1>List of cocktails</h1>

<div class="row cocktails">
    <%= render @cocktails %>
</div>

<div class="row">
    <div class="col-12">
        <p>
            <%= link_to 'Add cocktail', new_cocktail_path, class: 'btn btn-outline-primary' %>
        </p>
    </div>
</div>